body {
  margin: 0;
  width: 100%;
  height: 100vh;
}
*{
	text-decoration: none;
	list-style: none;
}
#header {
	font-family: 'Montserrat', sans-serif;
	display:flex;
	justify-content: center;
	align-items: center;
	margin: 2%;
}
.img-logo {
  width: 100%;
  margin: 0% 0% 0% -18%;
  display: flex;
	justify-content: space-between;
}
.menu {
	width: 65%;
	display: flex;
	justify-content: flex-end;
	text-decoration: none;
	list-style: none;
}
.item-menu {
	color: red;
	font-weight: 900;
	margin: 0px 2vw 0px 2vw;
}
.menu-mobile-about {
	display: none;
	text-decoration: none;
	margin-left: 5vw;
}
#about{
  height: 100%;
  display: flex;
	justify-content: flex-start;
  /* flex-wrap: wrap; */
  flex-direction: column;
	background-color: rgba(0,131,202,1);
	font-family: 'Montserrat', sans-serif;
}
.circle-one{
	clip-path: circle(50% at 50% 50%);
	width: 600px;
	height: 600px;
	position: absolute;	
  opacity: 0.2;
	z-index: 1;
  left: 78%;
	top: 30%;
	display: none;
}
.circle-two{
	clip-path: circle(50% at 50% 50%);
  width: 22vw;
  height: 35vh;
  opacity: 0.1;
  left: 54%;
  background: white;
  display: none;
}
.title-about{
	width: 30%;
  text-align: right;
	font-size: 2.5rem;
	color: white;
}
.container-figures{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.box-figure{
  width: 25%;
  /* height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
}
.img-about{
  width: 88%;
}
.box-text{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* width: 59vw; */
}
.box-text-about {
  height: 80%;
	/* height: 80vh; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.p-about{
	font-family: 'Open Sans', sans-serif;
  width: 40%;
  color: #fff;
	font-size: 1.1rem;
}

.title-values-principal {
	font-family: 'Montserrat', sans-serif;
  width: 93%;
  color: #fff;
  font-size: 2rem;
}
.title-values{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 2rem;
}
#values {
  height: 100%;
	display: flex;
  align-items: center;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	background: linear-gradient(to bottom, rgba(0,131,202,1) 0%, rgba(0,131,202,1) 100%, rgba(0,89,202,1) 12%);
}
.container-values{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-content: center; */
}
.container-values-items{
  width: 100%;
  display: flex;
  align-items: center;
}
.values-right{
  display: flex;
  justify-content: flex-end;
}
.values-items-texts{
  width: 30%;
  position: relative;
  right: 40px;
}
.container-our-values{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .box-values-reverse{
	display: flex;
	flex-direction: row;
}
.box-values{
  width: 100%;
	display: flex;
	flex-direction: row;
} */
.img-values {
  width: 18%;
	opacity: 1;
}
.img-values-attentiveness{
  width: 13%;
}
.box-title-values{
	width: 23vw;
}
.p-values{
  width: 65%;
	color: white;
	font-size: 0.9rem;
}
#container-our-board{
  height: 100%;
	/* display: flex;
  justify-content: center; */
  background-color: #FCF9F9;
	font-family: 'Montserrat', sans-serif;
}
.title-board{
  width: 33%;
  display: flex;
  justify-content: flex-end;
  font-size: 2.5rem;
  color: red;
  font-weight: 800;
}
.our-board-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-board{
  margin: 20px;
  padding: 30px;
	display: flex;
  width: 60%;
  justify-content: center;
  border-radius: 5%;
  background-color: white;
  box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.20);
}
.box-img-board{
	/* width: 15vw;
	height: 40vh; */
}
.img-board{
	width: 100%;
	border-radius: 5%;
}
.subtitle-board{
	font-size: 1rem;
	color: red;
}
.p-board{
	font-size: 0.6rem;
	width: 16vw;
}
.p-txt-board-1 {
	margin: 1vw 0vw 1vw 0vw;
}
.p-txt-board-2{
  font-size: 0.6rem;
  opacity: 0.6;
}
.box-txt-board{
	margin-left: 5%;
  width: 52vw;
	font-size: 0.8rem;
	display: inline-block;
  line-height: 1.3rem;
}
#container-news-about{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #FBF7F7;
  font-family: 'Montserrat', sans-serif;
}
.title-news-about{
	color: red;
	width: 100%;
}
.about-news-circle1{
	clip-path: circle(50% at 50% 50%);
	width: 250px;
	height: 250px;
	position: absolute;	
	background-color: black;
	opacity: 0.1;
	z-index: 1;
}
.about-news-circle2{
	clip-path: circle(50% at 50% 50%);
	width: 250px;
	height: 250px;
	right: 15%;
	position: absolute;	
	background-color: black;
	opacity: 0.1;
	z-index: 2;
}
.container-our-values-reverse{
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end; 
	position: relative;
	right: 80%;
	top: 5%;
}
.espaco{
	position: absolute;
	right: -95px;
}
.about-news-row{
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}
.box-about-news{
  padding: 10px 0 0 0;
  width: 25%;
  height: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 5%;
	background-color: #FEE3E3;
}
.img-about-news{
  width: 95%;
  /* height: 55%; */
	border-radius: 5%;
}
.about-news-texts{
  width: 90%;
  font-size: .7rem;
}
.title-about-news{
  width: 20%;
  display: flex;
  justify-content: flex-end;
  font-size: 2.5rem;
  color: red;
  font-weight: 800;
}
/* .subtitle-about-news{
	font-size: 1rem;
}
.p-about-news{
  font-size:1rem;
} */
#footer{
	height: 55vh;
	display: flex;
	justify-content: flex-end;
	background-color: #EE3325;
}

.img-grand-circle{
	width: 95%;
    height: 40vh;
    opacity: 0.5;
    margin: 22px 0px 0px 40px;
}
.grand-circle-img{
	width: 250px;
	opacity: 0.6;
}
.container-footer{
	width: 90%;
	height: 88%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}
.box-footer-center{
	width: 60%;
	height: 40vh;
	display: flex;
	justify-content: center;
}
.box-footer{
	width: 61%;
    height: 100%;
    display: flex;
    flex-direction: column;
	justify-content: space-between;
  
}
.logo-footer{

}
.item-menu-footer{
	color: #fff;
}
.list-menu-secundario{
	width: 9%;
	height: 36vh;
	align-self: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: #fff;

}
.info-footer {
	display: flex;
}

.img-logo-footer{
	width: 20vw;
	margin: 1rem 0;
}
.p-info-footer{
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 600;
	color: #fff;
	display: flex;
	font-size: 0.8rem;
}
.info-footer-img{
	width: 20px;
}
.box-copyright{
    font-family: 'Montserrat Alternates', sans-serif;
}

.copyright{
	font-size: 0.95rem;
	color: black;
	opacity: 0.7;
}
.menu-secundario{
	height: 45vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
/*	padding: 0.55rem;*/
	font-size: 0.95rem;
}
.list-menu-secundario{
	list-style: none;
	text-decoration: none;
	width: 100%;
    height: 22vh;
    margin: 30px 0px 0px 0px;
    align-self: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.img-circle-whith{
	width: 85%;
    height: 15vh;
    margin: 0px 0px 0px 34px;
}

.menufooter img{
	width: 6vw;
}

