* {
	box-sizing: border-box;
	text-decoration: none;
}

img {
    max-width: 100%;
}
html{
	font-size: 16px;
}
body {
    padding: 0;
    margin: 0;
}

#header{
	width: 100%;
	
}
.block-logo{
	margin: 0% 6% 0% 0%;
}

#container-logo{
    width: 100%;
    display: flex;
    margin: 0.8%;
    justify-content: center;
    align-items: center;
}

.menu-list{
	min-width: 50vw;
	display: flex;
    justify-content: space-evenly;
    align-items: center;
	list-style: none;
}

.box-menu{
	display: none;
}
.menu-item{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: rgba(238,51,37,1);
	font-size: 1rem; 
}
.item-lang{
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.box-lang{
	font-size: 0.95rem;
}
.item-lang span{
	font-weight: bolder;
}

.home {
	width: 100%;
	height: 100%;
	background-image: url(./img/female-farmer-kenya-west.png);
	background-size: cover;
}

.wrapper-home {
	    height: 100%;
    background: linear-gradient(to bottom, rgba(0,131,202,0) 0%, rgba(0,131,202,-0.55) 60%, rgba(0,131,202,1) 100%);

	
}

.box-title{
	position: relative;
   	min-height: 70vh;
    background-image: url("../assets/female-farmer-kenya-west.png");
	background-size: cover; 
	background-repeat: no-repeat;
	padding-left: 5rem;
}

.div-img-menu{
	width: 100%;
}

.box-title {
	width: 100%;
    height: 70%;
    display: flex;
    align-items: center
}

.title-principal{
	width: 46%;
	font-family: 'Montserrat', sans-serif;
	font-size: 3.25rem;
	font-weight: 700;
	color: white;
}
.div-button{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    border: none;
}

.button-contact{
	position: relative;
	outline: none;
    padding: 0.0rem 2.8rem;
    border-radius: 100px;
    font-size: 1.55rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
    color: white;
    border: none;
    display: flex;

}
.button-contact-img{
	position: absolute;
	left: 1.15rem;
    width: 20%;
    height: 40px;
}
.button-description{
	font-family: 'Montserrat', sans-serif;
	margin-left: 1rem;

}
#div-form{
	display: none;
}

#div-form.--isOpen {
	width: 280px;
    display: flex;    font-family: 'Montserrat', sans-serif;
    background: white;
    border-radius: 10px;
    position: absolute;
    z-index: 99;
    bottom: 1rem;
    right: 5rem;
}

.container-form{
	width: 100%;
}


.box-form{
	opacity: 0.5;
	font-size: .85rem;
}
.contact-form{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1rem;

    }
#close-form{
    border: none;
    background: none;
    width: 28px;
    display: flex;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    right: 0;

    }
.title-form{
    height: 2.2rem;
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    flex-direction: row-reverse;
    position: relative;
}
.button-cancel {
	width: 35%;
    height: 5.5vh;
	color: red;
	background-color: white;
	border-color: red;
	border-radius: 5px;


}
.button-send {
	width: 35%;
    height: 5.5vh;
	background-color: red;
	color: white;
	border-color: red;
	border-radius: 5px;
}
.div-box-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F9F9F9;
    padding: 1rem;
}
.box-form-contact{
	display: flex;
	flex-direction: column;
	margin-top: .3rem;
}
.textarea-form{
	resize: none;
	margin-top: .5rem;
}
.textarea-form-2{
	height: 80px;
	resize: none;
    margin-top: .5rem;
}
.div-button-cancel-send{
    height: 9vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#container-products{
	background-color: rgba(0,131,202,1);
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-title-cash{
	display: flex;
	justify-content: flex-start;
	width: 100%;
}
.title-ourproducts{
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	font-weight: 600;
	color: white; 
	width: 25%;
    text-align: end;
}		
.container-box-cash{
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;

}
.box-cash{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.title-cash{
	width: 86%;
    text-align: end;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-weight: 700;
	color: #fff;
	
}
.img-cash{
    height: 44%;
  
}

.p-cash{
	font-family: 'Muli', sans-serif;
	text-align: center;
	font-size: 1rem;
	color: #fff;
	width: 60%;

	
}



#simulater{
	display: flex;
	width: 100%;
	background-color: rgba(0,131,202,1);

}
.title-simulater {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    width: 61%;
    margin: 0;
    height: 1%;

}
.subtitle-simulater{
	font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 1rem;
    width: 41%;
}
.div-simulater {
	width: 100%;
}
.firstbox-simulater{
    width: 91%;
    height: 100%;
	
}
.country-flag{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.box-simulater{
	width: 100%;
	display: flex;
	margin: 8%;
}
.country-name{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: white;
	margin-left: 5%;
	
}

#s-slide{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0,131,202,1) 0%, rgba(0,131,202,1) 50%, rgba(0,89,202,1) 100%);
    display: flex;
	justify-content: space-around;

}

figure {
	display: flex;
}
.firstbox-simulater{

}

.box-slide {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}

.slide{
	display: flex;
    position: relative;

}
.pai-slide{
	width: 95%;
    height: 95%;
    background-color: blue;
}
input{
	display: none;
}
input:checked ~ .slide-box-2{
	display: none;
}
.slide-box-1,.slide-box-2{
	cursor: pointer;
}


.img-slide{
	width: 100%;
    height: 98%;
	border-radius: 5%;
}

.box-writing{
	width: 30%;


}
.writing{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-weight: 800;
	font-style: italic;
	font-size: 1.5em;
}

.circles{
    width: 34%;
    height: 20%;
    overflow: hidden; 
   
}

.circle-one{
	clip-path: circle(25% at 60% 50%);
	width: 100vw;
	height: 100vh;
	background-color: #459FD9;
	opacity: 0.5;
}
.circle-two{
	position: relative;
	content:'';
	width: 250px;
	height:250px;
	border-radius: 50%;
	left: 35%;
	bottom: 45%;
	background-color: #459FD9;
	opacity: 0.5;
}	

#container-agency{
    display: flex;
    justify-content: space-around;
    padding: 5% 0 5% 0;
    background-color: #F8F8F8;
    position: relative;
    height: 63vh;
    overflow: hidden;
}
.title-agency{
	width: 40%;
	font-size: 2.5rem;
	margin: -1%;
	color: rgba(238, 51, 37, 1);
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	z-index: 5;
}

.icon-agency{
	width:300px;
	position: absolute;	
	top: 25%;
	left: -5%;
	z-index: 2;
}
.form-agency{
	width: 200px;
	margin-left: -10%;
	color: rgba(107, 107, 107, 1);
}
.form-agency select{
    background-color: #F8F8F8;
    font-family: 'Montserrat', sans-serif;
    width: 23vw;
    font-size: .85rem;
    outline: none;
    padding: 5px 0;
    margin: 5% 0 5% 0;
    border: 0;
}
.label-agency{
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	width: 100vw;
}
.button-agency{
    background-color: #F8F8F8;
    border: 0;
    width: 240px;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}
.button-agency a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #459FD9;
    cursor: pointer;
}
.box-iframe{
	font-family: 'Montserrat', sans-serif;
    background: white;
    width: 30%;
    height: 86%;
    font-weight: 600;
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.10);

}		

.iframe-map{
	height: 29vh;
    width: 100%;
	margin: 2% auto 0 auto;
}

.location{
	padding: 1%;
    font-size: 0.9rem;
    width: 91%;
    margin: 0 auto;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 0.7rem;

}
.impact-news {
	display: flex;
	justify-content: space-between;
}
#social-impact-news{
	width: 100%;
}

	}
.social-impact{
	display: flex;
	flex-direction: column;
}
.box-txt-social{
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: center;
}
	@media screen and (max-width: 1024px){
		.box-txt-social{
		width: 100%;
		}		
	}
.title-social{
	color: #459FD9;
	margin: 0px 0px 5px 60px;
	font-size: 2rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.box-img-social{
	display: flex;
    width: 62vw;
    padding-left: 30px;
	background-color: #F8F8F8;
	border-radius: 29px;
	margin-bottom: 3%;
	box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.20);
}
	
.reverse{
	flex-direction: row-reverse;
	justify-content: space-between;
}
.img-impact{
	width: 21vw;
	height: 29vh;
	margin: 3%;
}
.title-socialimpact{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 0.8rem;
	margin: 5%;

	
}
.p-socialimpact{
    display: flex;
    text-align: left;
    font-size: 0.7rem;
    margin-left: 5%;
    font-family: 'Muli', sans-serif;

}
.showmore-1{
	font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 0 15%;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    color: #459FD9;

}

.showmore{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 0 15%;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    color: #459FD9;

}
.boxred-news{
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    height: 3.25rem;
    background: red;
}

.container-box-news{
	width: 30vw;
    background-color: #FFF3F2;
    margin: 0px 0px 0px 30px;
    padding: 1rem;
}


.box-news{
	width: 100%;
	padding: 1rem;

}
.title-news{
	font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
    color: white;
    margin: 2px;
    
}

.container-news{
	display: flex;
	flex-direction: column;
	padding-bottom: .65rem;

}
.subtitle-news{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1;
    font-size: 0.8rem;
    width: 100%;
}

.p-news{
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	font-size: 0.7rem;


}
.p-news:after{
	content:'';
	position: absolute;
	width: 20vw;
	height: 1px;
	margin-top: 30px;
	right: 13%;
	background: black;
	opacity: 0.1;
 }
.showmore{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 0 16%;
    font-size: 0.7rem;
    color: #459FD9;
}

#partners{
    width: 100%;
    min-height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-part{
	height: 39%;
	margin: 1rem 0;
}
.div-part{
	width: 60%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.img-part{
	height: 40px;
}

.list-part{
	display: flex;
	justify-content: space-between;
}
.title-partners{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EE3325;
    padding: 1rem 0;
}

.img-grand-circle{
	width: 290px;
    height: 40vh;
    opacity: 0.5;
    margin: 22px 0px 0px 40px;
}
.grand-circle-img{
	width: 250px;
	opacity: 0.6;
}
.container-footer{
	width: 70%;
    display: flex;
    justify-content: space-between;
}
.box-footer-center{
    display: flex;
    justify-content: center;
}
.box-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
}

.item-menu-footer{
	color: #fff;
}
.list-menu-secundario{
	width: 9%;
	height: 36vh;
	align-self: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: #fff;

}
.info-footer {
	display: flex;
}

.img-logo-footer{
	width: 20vw;
	margin: 1rem 0;
}
.p-info-footer{
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 600;
	color: #fff;
	display: flex;
	font-size: 0.8rem;
}
.info-footer-img{
	width: 20px;
}
.box-copyright{
    font-family: 'Montserrat Alternates', sans-serif;
}

.copyright{
	font-size: 0.95rem;
	color: black;
	opacity: 0.7;
}
.menu-secundario{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding-right: 3rem;
    font-size: 0.95rem;
}
.list-menu-secundario{
	list-style: none;
    text-decoration: none;
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    color: #fff;
}
.img-circle-whith{
	width: 85%;

	}

.menufooter img{
	width: 6vw;
}
#header {
	font-family: 'Montserrat', sans-serif;
	display:flex;
	justify-content: center;
	align-items: center;



}
.img-logo {
    width: 100%;
    margin: 0% 0% 0% -18%;
    display: flex;
	justify-content: space-between;
}

.menu {
	width: 65%;
    display: flex;
    padding: 1%;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
}

.item-menu {
	color: red;
	font-weight: 900;
	margin: 0px 2vw 0px 2vw;

}

.menu-mobile-about {
	display: none;
	text-decoration: none;
	margin-left: 5vw;
}

/*Css do Products*/

.box-products{
    padding: 15vh 0 15vh 5vw;
    width: 100%;
	min-height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,131,202,1);
}

.title-products {
    width: 50%;
    color: #fff;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.container-products{
	width: 100%;
    display: flex;
	justify-content: space-between;
	/* padding: 15vh 5vw 15vh 0; */
}
.box-product{
	width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.box-product:hover{
	color:#fff;
	opacity: 0.5;
}
.box-product--Card{
	width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}
.box-product--Card:hover{
	color: #fff;
	opacity: 0.5;
}
......................................./...................................
#OurProducts-Inside{
	
}


.Inside{
	display: flex;
    justify-content: center;


}

.container-inside{
	width: 80%;
    height: 113vh;
    display: flex;
}

.title-inside{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: red;
	font-size: 2rem;

}
.box-inside{
	    width: 33%;
    height: 112vh;

}

.box-inside-cash-um{
    width: 33%;
    height: 112vh;
}

.box-inside-cash-dois{
    width: 33%;
    height: 112vh;
}

.box-inside-cash-tres{
    width: 33%;
    height: 112vh;
}

.d-inside{

	
}
.sub-title-inside{
	width: 192px;

}

.p-inside{
    color: #707070;
    opacity: .7;
    width: 80%;
}

.p-step-inside{
	color: #707070;
    font-weight: bold;
    font-size: 16px;
}

...................../........................./......................../........................./...........

#OurProducts-Inside-2{


}

.Inside-2{
	display: flex;
    justify-content: center;


}

.container-inside-2{
	width: 80%;
    height: 113vh;
    display: flex;
}

.title-inside-2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: red;
	font-size: 2rem;

}

.box-inside-2{
	    width: 33%;
    height: 112vh;

}

.box-inside-cash-2{
    width: 33%;
    height: 112vh;
}

.sub-title-inside-2{
	width: 192px;

}

.p-inside-2{
    color: #707070;
    opacity: .7;
    width: 80%;
}

.p-step-inside-2{
	color: #707070;
    font-weight: bold;
    font-size: 16px;
}

......................./......................./......................./......................./..........
#OurProducts-Inside-3{


}

.Inside-3{
	display: flex;
    justify-content: center;


}

.container-inside-3{
	width: 80%;
    height: 113vh;
    display: flex;
    justify-content: space-around;
}

.title-inside-3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: red;
	font-size: 2rem;

}

.box-inside-3{
	    width: 33%;
    height: 112vh;

}

.box-inside-cash-3{
    width: 33%;
    height: 112vh;
}

.sub-title-inside-3{
	width: 192px;

}

.p-inside-3{
    color: #707070;
    opacity: .7;
    width: 80%;
}

.p-step-inside-3{
	color: #707070;
    font-weight: bold;
    font-size: 16px;
}
